useDynLib(spreg)

import(spData)

importFrom("spdep", "is.symmetric.glist", "lag.listw", "card", "can.be.simmed",
  "similar.listw", "nb2listw")
importFrom("stats", "lm.fit")

export(lextrB, lextrW, lextrS, l_max)



